@charset "utf-8";

*{box-sizing: border-box;}
html, body{margin: 0;padding: 0;}
header, section, article, aside, nav, main, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, main:after, footer:after{content: "";display: block;clear: both;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;}
.clear{clear: both;}

.click_evt{}
.click_evt ul{font-size: 0;}
.click_evt ul li{display: inline-block;vertical-align: middle;width: calc(100% / 3 - 10px);margin: 0 5px;}
.click_evt ul li a{display: block;height: 300px;background-size: cover;background-position: 50%;}
.click_evt ul li:nth-child(1) a{background-image: url(../img/archer.png);}
.click_evt ul li:nth-child(2) a{background-image: url(../img/barbarian.png);}
.click_evt ul li:nth-child(3) a{background-image: url(../img/giant.png);}
/* ---------------------------------------------------- */
.mouse_evt{}
.mouse_evt .ch_img{width: 200px;height: 200px;background-size: cover;background-position: 50%;background-image: url(../img/wizard.png);}
.mouse_evt .ch_img.over{background-image: url(../img/goblin.png);}

.hover_menu{height: 60px;padding: 0 20px;background: #ddd;margin-bottom: 200px;} /* margin-bottom: 200px; 다음 예제와 겹치지 않게 하려고 */
.hover_menu .logo{float: left;}
.hover_menu .logo a{display: block;line-height: 60px;color: #333333;}
.hover_menu > ul{float: right;}
.hover_menu > ul > li{float: left;}
.hover_menu > ul > li > a{display: block;padding: 0 30px;font-size: 17px;line-height: 60px;color: #555555;}
.hover_menu > ul > li > ul{display: none;}
.hover_menu > ul > li > ul > li{}
.hover_menu > ul > li > ul > li > a{display: block;line-height: 40px;text-align: center;font-size: 15px;color: #777777;background: #bbbbbb;}
/* ---------------------------------------------------- */
.focus_evt{padding: 20px;background-color: #ffffaa;}
.focus_evt div{padding: 5px 0;font-size: 0;}
.focus_evt div label{display: inline-block;vertical-align: middle;width: 140px;font-size: 16px;}
.focus_evt div input{display: inline-block;vertical-align: middle;width: calc(100% - 140px);line-height: 36px;font-size: 16px;}

.msg{position: fixed;top: 0;left: 0;width: 100%;padding: 5px 0;text-align: center;background: #ffaaff;transform: translate(0, -100%);transition: transform 0.5s;}
.msg.active{transform: translate(0, 0);}
/* ---------------------------------------------------- */
.tab_box{width: 1200px;margin: 0 auto;padding: 10px 0;background: #aaffff;}
.tab_box .tab_btn{padding: 0 10px 10px;}
.tab_box .tab_btn ul{font-size: 0;text-align: center;}
.tab_box .tab_btn ul li{display: inline-block;vertical-align: middle;}
.tab_box .tab_btn ul li a{display: block;line-height: 60px;padding: 0 20px;background: #cccccc;font-size: 17px;text-transform: uppercase;}
.tab_box .tab_btn ul li.active_btn a{background: #000000;color: #ffffff;}

.tab_box .tab_cont{border-top: 1px solid #000;}
.tab_box .tab_cont .tab{display: none;padding: 10px 0 0;}
.tab_box .tab_cont .tab.active_cont{display: block;}
.tab_box .tab_cont .tab:after{content: "";display: block;clear: both;}
.tab_box .tab_cont .tab div{float: left;width: calc(100% / 3 - 20px);height: 380px;margin: 0 10px;background-size: cover;background-position: 50%;}
.tab_box .tab_cont .tab_01 div:nth-child(1){background-image: url(../img/img_01.jpg);}
.tab_box .tab_cont .tab_01 div:nth-child(2){background-image: url(../img/img_02.jpg);}
.tab_box .tab_cont .tab_01 div:nth-child(3){background-image: url(../img/img_03.jpg);}
.tab_box .tab_cont .tab_02 div:nth-child(1){background-image: url(../img/img_04.jpg);}
.tab_box .tab_cont .tab_02 div:nth-child(2){background-image: url(../img/img_05.jpg);}
.tab_box .tab_cont .tab_02 div:nth-child(3){background-image: url(../img/img_06.jpg);}
/* ---------------------------------------------------- */
.game_img{width: 25%;background-image: url(../img/img_06.jpg);background-size: cover;background-position: 50%;}
/* ---------------------------------------------------- */
.scroll_evt{width: 240px;height: 240px;background-image: url(../img/img_05.jpg);background-size: cover;background-position: 50%;transform: translateX(-100%);transition: transform 0.5s;margin-bottom: 1000px;}
.scroll_evt.active{transform: translateX(0);}

body{transition: background 0.5s, color 0.5s;}
body.ch_black{background: #333333;color: #ffffff;}